<main class="main">
  <article>
    <h2>Artículo 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <load src="./components/button.html" text="Añadir a cesta" />
    <load src="./components/button.html" text="Comprar" />
  </article>
  <article>
    <h2>Artículo 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <load src="./components/button.html" text="Añadir a cesta" />
    <load src="./components/button.html" text="Comprar" />
  </article>
</main>